.example-container {
  width: 100%;
  height: calc(100% - 64px);
  border: 1px solid #555;
  mat-drawer {
    width: 15vw;
    h1 {
      text-align: center;
    }
    mat-list-item ::ng-deep {
      .mat-list-item-content {
        padding-left: 1.5vw;
        font-size: 1.2vw;
        margin-top: .5vw;
        cursor: pointer;
      }
    }
  }

  mat-drawer-content {
    padding: 2vw;
    .container {
      background-color: white;
      min-height: 90%;
      padding: 1vw;
    }
  }
}
